@charset "UTF-8";

/* --- base start --- */
html {
  height: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  height: 100%;
  word-wrap: break-word;
  background-color: #f2f2f2;
  color: #333;
  font-size: 16px;
}

a { text-decoration: none; }
ul { font-size: 0;}
li { list-style: none; }
h1 { font-size: 90px; }
h2 {
  font-size: 24px;
  font-family: 'Raleway', sans-serif;
 }

 button { outline: none; }

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.cf::after {
  content: '';
  display: block;
  clear: both;
}

.fl { float: left; }
.fr { float: right; }
.vt { vertical-align: top; }

.grid { margin: 0 -15px; }
.grid_col { display: inline-block; }
.grid_col_12 { width: 100%; }
.grid_col_7-2 { width: 60%; }
.grid_col_6 { width: 50%; }
.grid_col_4 { width: 33.3333%; }
.grid_col_3 { width: 25%; }
.grid_col_2 { width: 20%; }

@media screen and ( max-width: 1200px ) {
  .grid_col { display: block; }
  .grid_col_12,
  .grid_col_6,
  .grid_col_4,
  .grid_col_3,
  .grid_col_2 { width: 100%; }
}
@media screen and ( max-width: 767px ) {
  .grid_col { display: block; }
}
/* --- base end --- */

/* --- header start --- */
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  padding: 15px 0;
  border-bottom: 1px solid #ddd;
  z-index: 10;
}

.header_inner {
  max-width: 1170px;
  margin: 0 auto;
}

.header_logo {
  color: #777;
  font-size: 60px;
  padding-left: 15px;
}

.header_menu {
  margin-right: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  display: none;
  /* -webkit-appearance: button; */
}

.header_menu_bar {
  width: 20px;
  height: 2px;
  border-radius: 1px;
  display: none;
  background-color: #ddd;
}
.header_menu > .header_menu_bar:not(:first-child) { margin-top: 4px; }

.header_btn > li { display: inline-block; }
.header_btn > li:not(:first-child) { margin-left: 10px;}
.header_btn_link {
  font-size: 12px;
  padding: 14px 12px;
  background-color: #74cfae;
  color: #fff;
  display: inline-block;
  margin-right: 15px;
}

@media screen and ( max-width: 766px ) {
  .header_inner { margin: 0;}
  .header_menu,
  .header_menu_bar { display: block; }
  .header_btn {
    display: none;
    float: none;
  }

  .header_btn.is-active {
    display: block;
    padding: 10px 0;
    margin-top: 15px;
    border-top: 1px solid #ddd;
  }
  .header_btn > li { display: block; }
  .header_btn > li:not(:first-child) { margin: 10px 0 0; }

  .header_btn_link {
    display: block;
    margin: 0;
  }
}
/* --- header end --- */

/* --- keyvisual start --- */
.keyvisual {
  padding-top: 91px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #c0c0c0;
  font-size: 30px;
}

.keyvisual_inner {padding: 250px 0; }

.keyvisual_title {
  font-weight: 700;
  color: #74cfae;
  margin-bottom: 20px;
}
/* --- keyvisual end --- */

/* --- what start --- */
.what {
  color: #fff;
  background-color: #74cfae;
  text-align: center;
  padding-top: 50px;
}

.what_contents_list > li {
  display: inline-block;
  vertical-align: top;
}

.what_contents_list > li:last-child {
  max-width: 750px;
  margin: 20px 0 0 100px;
  font-size: 20px;
  line-height: 1.4;
}

.what_title { margin-bottom: 35px; }

@media screen and ( max-width: 1200px ) {
  .what { padding-bottom: 25px; }
  .what_contents_list > li { display: block; }
  .what_contents_list > li:last-child {
    margin: 20px auto 0;
    padding: 0 10px;
  }
}
/* --- what end --- */

/* --- work start --- */
.work {
  text-align: center;
  padding: 60px 0 70px;
}

.work_title { margin-bottom: 40px; }
.work_main { margin-bottom: 80px; }
.work_link { opacity: .7; }
.work_link:hover { opacity: 1;}
.work_sub { margin-top: 90px; }
.work_sub_txt {
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: .8px;
}

.work_sub_btn {
  font-size: 20px;
  background: #74cfae;
  padding: 15px 30px;
  color: #fff;
  display: inline-block;
}

.work_sub_btn:hover { color: inherit; }

@media screen and (max-width: 1200px) {
  .work_sub > li { display: inline-block; }
  .work_sub > li:first-child {
    width: 100%;
    margin-bottom: 40px;
  }
}

/* --- work end --- */

/* --- skill start --- */
.skill {
  text-align: center;
  background-color: #4e4e4e;
  color: #fff;
  padding: 70px 0 100px;
}

.skill_title { margin-bottom: 60px; }
.grid_sub_txt {
  font-size: 16px;
  margin-top: 20px;
}

@media screen and (max-width: 1200px) {
  .skill_list > li:not(:first-child) {
    margin-top: 88px;
  }
}
/* --- skill end --- */

/* --- sns start --- */
.sns {
  text-align: center;
  padding: 200px 0;
}

.sns_list > li { display: inline-block; }
.sns_list > li:hover { background: #fff; }

.sns_link {
  width: 185px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sns_icon {
  color: #74cfae;
  font-size: 60px;
}

@media screen and (max-width: 767px) {
  .sns { padding: 50px 0;}
  .sns_list > li { display: block; }
  .sns_link { width: 100%; }
}

/* --- sns end --- */

/* --- footer start --- */
footer {
  background-color: #74cfae;
  padding: 20px 10px 25px;
}

.footer_txt { color: #fff; }
/* --- footer end --- */
